<div>
  <h2 id="page-heading" data-cy="VendingMachineHeading">
    <span jhiTranslate="beverageDispenserApp.vendingMachine.home.title">Vending Machines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="beverageDispenserApp.vendingMachine.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vending-machine"
        [routerLink]="['/vending-machine/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beverageDispenserApp.vendingMachine.home.createLabel"> Create a new Vending Machine </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vendingMachines?.length === 0">
    <span jhiTranslate="beverageDispenserApp.vendingMachine.home.notFound">No vendingMachines found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vendingMachines && vendingMachines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.vendingMachine.name">Name</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.vendingMachine.serialNumber">Serial Number</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.vendingMachine.brand">Brand</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.vendingMachine.model">Model</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.vendingMachine.coinAcceptor">Coin Acceptor</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.vendingMachine.drink">Drink</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.vendingMachine.infrastructure">Infrastructure</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vendingMachine of vendingMachines; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vending-machine', vendingMachine.id, 'view']">{{ vendingMachine.id }}</a>
          </td>
          <td>{{ vendingMachine.name }}</td>
          <td>{{ vendingMachine.serialNumber }}</td>
          <td>{{ vendingMachine.brand }}</td>
          <td>{{ vendingMachine.model }}</td>
          <td>
            <div *ngIf="vendingMachine.coinAcceptor">
              <a [routerLink]="['/coin-acceptor', vendingMachine.coinAcceptor?.id, 'view']">{{ vendingMachine.coinAcceptor?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let drink of vendingMachine.drinks; let last = last">
              <a class="form-control-static" [routerLink]="['/drink', drink.id, 'view']">{{ drink.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="vendingMachine.infrastructure">
              <a [routerLink]="['/infrastructure', vendingMachine.infrastructure?.id, 'view']">{{ vendingMachine.infrastructure?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vending-machine', vendingMachine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vending-machine', vendingMachine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vendingMachine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
