<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="drink">
      <h2 data-cy="drinkDetailsHeading"><span jhiTranslate="beverageDispenserApp.drink.detail.title">Drink</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ drink.id }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.drink.name">Name</span></dt>
        <dd>
          <span>{{ drink.name }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.drink.price">Price</span></dt>
        <dd>
          <span>{{ drink.price }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.drink.ingredient">Ingredient</span></dt>
        <dd>
          <span *ngFor="let ingredient of drink.ingredients; let last = last">
            <a [routerLink]="['/ingredient', ingredient?.id, 'view']">{{ ingredient.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/drink', drink.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
