<div>
  <h2 id="page-heading" data-cy="CoinAcceptorHeading">
    <span jhiTranslate="beverageDispenserApp.coinAcceptor.home.title">Coin Acceptors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="beverageDispenserApp.coinAcceptor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coin-acceptor"
        [routerLink]="['/coin-acceptor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beverageDispenserApp.coinAcceptor.home.createLabel"> Create a new Coin Acceptor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="coinAcceptors?.length === 0">
    <span jhiTranslate="beverageDispenserApp.coinAcceptor.home.notFound">No coinAcceptors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="coinAcceptors && coinAcceptors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.coinAcceptor.name">Name</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.coinAcceptor.requestedCurrency">Requested Currency</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.coinAcceptor.coin">Coin</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coinAcceptor of coinAcceptors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/coin-acceptor', coinAcceptor.id, 'view']">{{ coinAcceptor.id }}</a>
          </td>
          <td>{{ coinAcceptor.name }}</td>
          <td>{{ coinAcceptor.requestedCurrency }}</td>
          <td>
            <span *ngFor="let coin of coinAcceptor.coins; let last = last">
              <a class="form-control-static" [routerLink]="['/coin', coin.id, 'view']">{{ coin.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/coin-acceptor', coinAcceptor.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/coin-acceptor', coinAcceptor.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(coinAcceptor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
