<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-history-heading" data-cy="HistoryCreateUpdateHeading" jhiTranslate="beverageDispenserApp.history.home.createOrEditLabel">
        Create or edit a History
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.history.machineId" for="field_machineId">Machine Id</label>
          <input type="number" class="form-control" name="machineId" id="field_machineId" data-cy="machineId" formControlName="machineId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.history.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.history.drinkId" for="field_drinkId">Drink Id</label>
          <input type="number" class="form-control" name="drinkId" id="field_drinkId" data-cy="drinkId" formControlName="drinkId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.history.ingredientId" for="field_ingredientId"
            >Ingredient Id</label
          >
          <input
            type="number"
            class="form-control"
            name="ingredientId"
            id="field_ingredientId"
            data-cy="ingredientId"
            formControlName="ingredientId"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.history.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.history.action" for="field_action">Action</label>
          <select class="form-control" name="action" formControlName="action" id="field_action" data-cy="action">
            <option [ngValue]="null">{{ 'beverageDispenserApp.Actions.null' | translate }}</option>
            <option *ngFor="let actions of actionsValues" [value]="actions">
              {{ 'beverageDispenserApp.Actions.' + actions | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.history.infrastructureId" for="field_infrastructureId"
            >Infrastructure Id</label
          >
          <select
            class="form-control"
            id="field_infrastructureId"
            data-cy="infrastructureId"
            name="infrastructureId"
            formControlName="infrastructureId"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                infrastructureOption.id === editForm.get('infrastructureId')!.value?.id
                  ? editForm.get('infrastructureId')!.value
                  : infrastructureOption
              "
              *ngFor="let infrastructureOption of infrastructureIdsCollection; trackBy: trackInfrastructureById"
            >
              {{ infrastructureOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
