<div>
  <h2 id="page-heading" data-cy="HistoryHeading">
    <span jhiTranslate="beverageDispenserApp.history.home.title">Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="beverageDispenserApp.history.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-history"
        [routerLink]="['/history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beverageDispenserApp.history.home.createLabel"> Create a new History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="histories?.length === 0">
    <span jhiTranslate="beverageDispenserApp.history.home.notFound">No histories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="histories && histories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.history.machineId">Machine Id</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.history.total">Total</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.history.drinkId">Drink Id</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.history.ingredientId">Ingredient Id</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.history.description">Description</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.history.action">Action</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.history.infrastructureId">Infrastructure Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of histories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/history', history.id, 'view']">{{ history.id }}</a>
          </td>
          <td>{{ history.machineId }}</td>
          <td>{{ history.total }}</td>
          <td>{{ history.drinkId }}</td>
          <td>{{ history.ingredientId }}</td>
          <td>{{ history.description }}</td>
          <td jhiTranslate="{{ 'beverageDispenserApp.Actions.' + history.action }}">{{ history.action }}</td>
          <td>
            <div *ngIf="history.infrastructureId">
              <a [routerLink]="['/infrastructure', history.infrastructureId?.id, 'view']">{{ history.infrastructureId?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/history', history.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/history', history.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(history)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
