<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-vending-machine-heading"
        data-cy="VendingMachineCreateUpdateHeading"
        jhiTranslate="beverageDispenserApp.vendingMachine.home.createOrEditLabel"
      >
        Create or edit a Vending Machine
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.vendingMachine.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.vendingMachine.serialNumber" for="field_serialNumber"
            >Serial Number</label
          >
          <input
            type="text"
            class="form-control"
            name="serialNumber"
            id="field_serialNumber"
            data-cy="serialNumber"
            formControlName="serialNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.vendingMachine.brand" for="field_brand">Brand</label>
          <input type="text" class="form-control" name="brand" id="field_brand" data-cy="brand" formControlName="brand" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.vendingMachine.model" for="field_model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.vendingMachine.coinAcceptor" for="field_coinAcceptor"
            >Coin Acceptor</label
          >
          <select class="form-control" id="field_coinAcceptor" data-cy="coinAcceptor" name="coinAcceptor" formControlName="coinAcceptor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                coinAcceptorOption.id === editForm.get('coinAcceptor')!.value?.id ? editForm.get('coinAcceptor')!.value : coinAcceptorOption
              "
              *ngFor="let coinAcceptorOption of coinAcceptorsCollection; trackBy: trackCoinAcceptorById"
            >
              {{ coinAcceptorOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="beverageDispenserApp.vendingMachine.drink" for="field_drinks">Drink</label>
          <select class="form-control" id="field_drinks" data-cy="drink" multiple name="drinks" formControlName="drinks">
            <option
              [ngValue]="getSelectedDrink(drinkOption, editForm.get('drinks')!.value)"
              *ngFor="let drinkOption of drinksSharedCollection; trackBy: trackDrinkById"
            >
              {{ drinkOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.vendingMachine.infrastructure" for="field_infrastructure"
            >Infrastructure</label
          >
          <select
            class="form-control"
            id="field_infrastructure"
            data-cy="infrastructure"
            name="infrastructure"
            formControlName="infrastructure"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                infrastructureOption.id === editForm.get('infrastructure')!.value?.id
                  ? editForm.get('infrastructure')!.value
                  : infrastructureOption
              "
              *ngFor="let infrastructureOption of infrastructuresSharedCollection; trackBy: trackInfrastructureById"
            >
              {{ infrastructureOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
