<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="vendingMachine">
      <h2 data-cy="vendingMachineDetailsHeading">
        <span jhiTranslate="beverageDispenserApp.vendingMachine.detail.title">Vending Machine</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vendingMachine.id }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.vendingMachine.name">Name</span></dt>
        <dd>
          <span>{{ vendingMachine.name }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.vendingMachine.serialNumber">Serial Number</span></dt>
        <dd>
          <span>{{ vendingMachine.serialNumber }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.vendingMachine.brand">Brand</span></dt>
        <dd>
          <span>{{ vendingMachine.brand }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.vendingMachine.model">Model</span></dt>
        <dd>
          <span>{{ vendingMachine.model }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.vendingMachine.coinAcceptor">Coin Acceptor</span></dt>
        <dd>
          <div *ngIf="vendingMachine.coinAcceptor">
            <a [routerLink]="['/coin-acceptor', vendingMachine.coinAcceptor?.id, 'view']">{{ vendingMachine.coinAcceptor?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.vendingMachine.drink">Drink</span></dt>
        <dd>
          <span *ngFor="let drink of vendingMachine.drinks; let last = last">
            <a [routerLink]="['/drink', drink?.id, 'view']">{{ drink.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.vendingMachine.infrastructure">Infrastructure</span></dt>
        <dd>
          <div *ngIf="vendingMachine.infrastructure">
            <a [routerLink]="['/infrastructure', vendingMachine.infrastructure?.id, 'view']">{{ vendingMachine.infrastructure?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vending-machine', vendingMachine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
