<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-coin-acceptor-heading"
        data-cy="CoinAcceptorCreateUpdateHeading"
        jhiTranslate="beverageDispenserApp.coinAcceptor.home.createOrEditLabel"
      >
        Create or edit a Coin Acceptor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.coinAcceptor.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beverageDispenserApp.coinAcceptor.requestedCurrency" for="field_requestedCurrency"
            >Requested Currency</label
          >
          <input
            type="number"
            class="form-control"
            name="requestedCurrency"
            id="field_requestedCurrency"
            data-cy="requestedCurrency"
            formControlName="requestedCurrency"
          />
        </div>

        <div class="form-group">
          <label jhiTranslate="beverageDispenserApp.coinAcceptor.coin" for="field_coins">Coin</label>
          <select class="form-control" id="field_coins" data-cy="coin" multiple name="coins" formControlName="coins">
            <option
              [ngValue]="getSelectedCoin(coinOption, editForm.get('coins')!.value)"
              *ngFor="let coinOption of coinsSharedCollection; trackBy: trackCoinById"
            >
              {{ coinOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
