<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="coinAcceptor">
      <h2 data-cy="coinAcceptorDetailsHeading"><span jhiTranslate="beverageDispenserApp.coinAcceptor.detail.title">Coin Acceptor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ coinAcceptor.id }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.coinAcceptor.name">Name</span></dt>
        <dd>
          <span>{{ coinAcceptor.name }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.coinAcceptor.requestedCurrency">Requested Currency</span></dt>
        <dd>
          <span>{{ coinAcceptor.requestedCurrency }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.coinAcceptor.coin">Coin</span></dt>
        <dd>
          <span *ngFor="let coin of coinAcceptor.coins; let last = last">
            <a [routerLink]="['/coin', coin?.id, 'view']">{{ coin.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/coin-acceptor', coinAcceptor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
