<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="history">
      <h2 data-cy="historyDetailsHeading"><span jhiTranslate="beverageDispenserApp.history.detail.title">History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ history.id }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.history.machineId">Machine Id</span></dt>
        <dd>
          <span>{{ history.machineId }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.history.total">Total</span></dt>
        <dd>
          <span>{{ history.total }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.history.drinkId">Drink Id</span></dt>
        <dd>
          <span>{{ history.drinkId }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.history.ingredientId">Ingredient Id</span></dt>
        <dd>
          <span>{{ history.ingredientId }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.history.description">Description</span></dt>
        <dd>
          <span>{{ history.description }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.history.action">Action</span></dt>
        <dd>
          <span jhiTranslate="{{ 'beverageDispenserApp.Actions.' + history.action }}">{{ history.action }}</span>
        </dd>
        <dt><span jhiTranslate="beverageDispenserApp.history.infrastructureId">Infrastructure Id</span></dt>
        <dd>
          <div *ngIf="history.infrastructureId">
            <a [routerLink]="['/infrastructure', history.infrastructureId?.id, 'view']">{{ history.infrastructureId?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/history', history.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
