<div class="machine-container">
  <h1>Get your dink now</h1>
  <div class="app-container">
    <div id="caffeine-machine">
      <!-- Top Section -->
      <div class="top-section">
        <div class="top-section__base">
          <div class="slots">
            <div *ngFor="let drink of drinks" (click)="selectDrink(drink.id)" [ngClass]="drink.id === selectedDrink ? 'selectedDrink' : ''">
              <img [src]="'../../content/images/drinks/bevarage_' + drink.name + '.png'" [alt]="drink.name + 'icon'" />
              <span>{{ drink.name }}</span>
            </div>
            <!-- <div>

            </div>
            <div>
              <img src="../../content/images/drinks/bevarage_Coffee.png" alt="chocolate icon">
              <span>Coffee</span>
            </div>
            <div>
              <img src="../../content/images/drinks/bevarage_Sugared Chocolate.png" alt="chocolate icon">
              <span>Sugar Chocolate</span>
            </div>
            <div>
              <img src="../../content/images/drinks/bevarage_Chocolate.png" alt="chocolate icon">
              <span>Chocolate</span>
            </div>-->
          </div>

          <div class="led"></div>

          <div class="spout"></div>
        </div>

        <div class="lever-container" (click)="makeDrink()">
          <div class="lever-base"></div>

          <!-- Lever -->
          <svg
            viewBox="0 0 114 355"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            class="lever"
          >
            <g id="lever">
              <rect id="socket" fill="#3A6255" x="43" y="355" width="28" height="91.5"></rect>
              <rect id="rod" fill="#D8D8D8" x="43" y="195" width="28" height="160"></rect>
              <g id="top">
                <circle fill="#F0A830" cx="57" cy="200" r="57"></circle>
                <path
                  d="M102.570209,40.1833305 C102.676794,40.0838119 102.777304,39.9779482 102.871517,39.8656698 C105.889032,36.2695351 101.304331,27.4546828 92.6313004,20.177146 C83.9582698,12.8996092 74.4812099,9.91524313 71.4636947,13.5113778 C71.3644458,13.629658 71.273421,13.753584 71.1904954,13.8829152 C76.2444491,16.5602964 82.1808506,20.6036755 88.1462014,25.6091992 C94.0729258,30.5823114 99.0593916,35.6922002 102.570209,40.1833305 Z"
                  id="highlight"
                  fill="#FFFFFF"
                  transform="translate(87.494931, 170) rotate(7.000000) translate(-87.494931, -26.085223) "
                ></path>
              </g>
            </g>
          </svg>
        </div>
        <!-- End Lever -->
      </div>

      <!-- Bottom Section -->
      <div class="bottom-section">
        <div class="liquid-base">
          <div id="liquid"></div>
        </div>
        <div class="cup-base">
          <div id="cup">
            <svg viewBox="0 0 272 170" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g>
                <path
                  d="M56.4777408,0 L56.4777408,23.4472425 C42.7970624,22.5906306 29.0726032,22.5906306 15.3981762,23.4472425 C11.7841784,24.2538225 -0.408387727,40.0041139 0.0105359081,51.5839228 C0.617031005,68.8035833 8.0701274,97.9656931 22.2822853,105.975274 C24.4831972,107.050714 42.1655405,109.689314 56.6465583,112.134081 C63.0242148,152.307023 96.3630583,169.995618 162.20916,169.995618 C236.139869,170.358269 272.19235,148.230321 272.19235,96.8902531 L272.19235,0 L56.4777408,0 Z M26.8029162,93.7889593 C20.4252598,86.6109742 14.1038866,67.1403914 13.5911719,57.2988008 C13.2222695,49.9457468 16.7862568,37.9282604 24.433176,35.3897026 C30.6607688,33.3388543 46.0984302,34.8269666 55.4773272,35.0708214 L55.4773272,99.4037949 C45.2668343,98.1595266 29.9792364,97.5029995 26.8029162,93.7889593 Z"
                  id="Page-1"
                  fill="#CFCFCF"
                  fill-rule="nonzero"
                  transform="translate(136.096175, 85.000000) scale(-1, 1) translate(-136.096175, -85.000000) "
                ></path>
                <g id="text" transform="translate(0.000000, 18.000000)">
                  <rect x="0" y="4" width="215" height="90" fill="transparent"></rect>
                  <text
                    id="cup-name"
                    x="107.5"
                    y="45"
                    dy="0.4em"
                    text-anchor="middle"
                    font-size="50"
                    font-family="Pacifico"
                    font-weight="normal"
                    fill="#FFFFFF"
                  >
                    Espresso
                  </text>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <svg id="bottom" viewBox="0 0 960 467" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>bottom</title>
          <defs>
            <text id="b" font-family="Pacifico" font-size="41" fill="#FFF">
              <tspan x="0" y="53">Beverage Dispenser</tspan>
            </text>
            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="a">
              <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1" />
              <feColorMatrix values="0 0 0 0 0.290221632 0 0 0 0 0.290175289 0 0 0 0 0.290237457 0 0 0 1 0" in="shadowOffsetOuter1" />
            </filter>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <g transform="translate(0 287)">
              <path
                fill="#578475"
                d="M39.676 2.683l26.82 26.82-38.383 38.384-26.82-26.82zM891.717 27.213l26.82-26.82 37.676 37.676-26.82 26.82z"
              />
              <rect fill="#78C0A8" y="31" width="960" height="149" rx="15" />
              <path d="M738 132h174.506M738 136h174.506" stroke="#578475" stroke-width="2" stroke-linecap="square" />
              <g fill="#FFF" transform="translate(600 70)">
                <use filter="url(#a)" xlink:href="#b" />
                <use xlink:href="#b" />
              </g>
            </g>
            <path fill="#FFF9E5" d="M38 0h885v316.01H38z" />
            <path fill="#588475" d="M36 292.234h889v26H36z" />
          </g>
        </svg>
      </div>
    </div>

    <div class="coin-container">
      <div *ngFor="let coin of coins" class="coin coin-{{ coin.id }}" (click)="addCoin(coin.id)">
        <div class="edge">
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
        </div>
      </div>
    </div>
  </div>
</div>
