$TURQUOISE: #78c0a8;
$MEDIUM_TURQUOISE: #5e9e89;
$DARK_TURQUOISE: #588475;
$WARNING: #f8e81c;
$SUCCESS: #b8e986;
$ERROR: #dd2f09;

$machine-max-width: 960px;

$lever-height: 355px;
$lever-module-width: 90px;
$lever-socker-height: 91.5px;

@keyframes shift_lever_rod {
  0% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY($lever-socker-height) scaleY(0.05);
  }
}

@keyframes shift_lever_top {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY($lever-height + 10px);
  }
}

@keyframes pour_liquid {
  0% {
    transform: translate(-50%, -100%);
  }
  10% {
    transform: translate(-50%, -100%);
  }
  20% {
    transform: translate(-50%, -77.777%) scaleX(0.9);
  }
  30% {
    transform: translate(-50%, -55.555%) scaleX(0.75);
  }
  40% {
    transform: translate(-50%, -33.333%) scaleX(0.85);
  }
  50% {
    transform: translate(-50%, -11.111%) scaleX(0.65);
  }
  55% {
    transform: translate(-50%, 0%) scaleX(0.75);
  }
  60% {
    transform: translate(-50%, 11.111%) scaleX(0.65);
  }
  65% {
    transform: translate(-50%, 22.222%) scaleX(0.4);
  }
  70% {
    transform: translate(-50%, 100%) scaleX(0);
  }
  100% {
    transform: translate(-50%, 100%) scaleX(0);
  }
}

@keyframes move_cup {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

* {
  box-sizing: content-box;
}

.app-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  color: white;
  font-weight: bold;
}

.machine-container {
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#caffeine-machine {
  width: calc(90vw - #{$lever-module-width});
  max-width: 800px;
  font-family: 'Pacifico', cursive;
  margin-top: 30vh;
  margin-bottom: 8em;

  &.inactive {
  }

  &.processing {
    .led {
      background-color: $WARNING;
      box-shadow: 0 0 20px $WARNING;
    }
  }

  &.success {
    .led {
      background-color: $SUCCESS;
      box-shadow: 0 0 20px $SUCCESS;
    }

    .slots .slot .column i {
      color: white;
      background-color: $SUCCESS;
    }
  }

  &.error {
    .led {
      background-color: $ERROR;
      box-shadow: 0 0 10px $ERROR;
    }

    .slots .slot .column i {
      color: $ERROR;
    }
  }
}

.top-section {
  max-width: $machine-max-width;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  .top-section__base {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: $TURQUOISE;
    height: 30vh;
    border-radius: 15px;
    margin: 0 auto;

    .led {
      position: absolute;
      right: 27.5px;
      bottom: 27.5px;
      height: 27.5px;
      width: 27.5px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.15);
      background-color: rgba(0, 0, 0, 0.25);
    }

    .spout {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 15%;
      height: 5%;
      border-radius: 0 0 5px 5px;
      transform: translate(-50%, 100%);
      background-color: $DARK_TURQUOISE;
    }

    .slots {
      display: flex;
      background-color: $DARK_TURQUOISE;
      border-radius: 10px;
      width: 66%;
      height: 40%;
      justify-content: center;

      .slot {
        flex: 1 1 0px;
        border-right: 10px solid $TURQUOISE;
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        position: relative;
        overflow: hidden;

        &:first-child {
          border-radius: 10px 0 0 10px;
        }

        &:last-child {
          border-radius: 0 10px 10px 0;
          border-right: none;
        }

        .column {
          height: 300%;
          display: flex;
          flex-flow: column wrap;

          i {
            flex: 1;
            position: relative;
            height: 100%;
            font-size: 5rem;
            vertical-align: middle;
            transition: all 0.1s ease-in-out;
            color: $TURQUOISE;

            &:before {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  .lever-container {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    z-index: 3;

    .lever-base {
      width: $lever-module-width;
      height: $lever-module-width * 1.8;
      background-color: $MEDIUM_TURQUOISE;
      border-radius: 0 15px 15px 0;
      transform: translateX(100%);
    }

    .lever {
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(100%, -100%);
      overflow: visible;
      cursor: pointer;

      #rod {
        transform-origin: bottom center;
      }

      &.animate {
        #rod {
          animation: 0.5s shift_lever_rod ease-in-out 2;
        }

        #top {
          animation: 0.5s shift_lever_top ease-in-out 2;
        }

        &.reverse {
          #top,
          #rod {
            animation-direction: reverse;
          }
        }
      }
    }
  }
}

.bottom-section {
  flex: 1;
  position: relative;
  z-index: 0;
  max-width: $machine-max-width;
  margin: 0 auto;

  #bottom {
    width: 100%;
  }

  .liquid-base {
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60%;
    overflow: hidden;

    #liquid {
      position: absolute;
      top: 0;
      left: 50%;
      height: 1000px;
      width: 2%;
      background: linear-gradient(to right, #9e5600 40%, #eac096 100%);
      transform: translate(-50%, -100%);

      &.pouring {
        animation: 6s pour_liquid linear;
      }
    }
  }

  .cup-base {
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 67.5%;
    overflow: hidden;

    #cup {
      width: 100vw;
      height: 100%;
      position: relative;
      transform: translateX(100%);

      &.pouring {
        animation: 6s move_cup ease-out;
      }

      svg {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 25%;
        max-width: 272px;
        transform: translate(calc(-50% + 27.5px), 0);
      }
    }
  }
}

.slots div {
  width: 25%;
  text-align: center;
  cursor: pointer;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover,
  .selectedDrink {
    background-color: green;
  }

  img {
    padding: 0.5em;
    max-height: calc(100% - 1em);
  }

  span {
    color: white;
  }
}

.coin-container {
  .coin {
    margin-bottom: 3em;
    cursor: pointer;
  }

  .coin-1::before {
    content: '1';
  }
  .coin-2::before {
    content: '2';
  }
  .coin-3::before {
    content: '5';
  }
}

@media screen and (max-width: 39.9375em) {
  .top-section .top-section__base .slots .slot .column i {
    font-size: 3rem;
  }
}

/* coin */

@import url('https://fonts.googleapis.com/css?family=Raleway:900');

$coin: #f7941e;
$bg: #3e3b3b;
$time: 1s;
$coin-size: 150px;
$coin-thicc: 6; // (size/thicc)

:root {
  --flips: 540deg;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: $bg;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.coin {
  height: $coin-size;
  width: $coin-size;
  transform-style: preserve-3d;
  transform-origin: 50%;

  &.anim {
    animation: flip $time linear forwards;
  }

  &:before,
  &:after {
    display: grid;
    place-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: $coin;
    border: $coin-size * 0.08 solid lighten($coin, 5);
    box-shadow: inset 0 0 0 $coin-size * 0.02 darken($coin, 5);
    font-size: $coin-size * 0.4;
    font-family: 'Raleway', sans-serif;
    color: darken($coin, 5);
    text-shadow: $coin-size * 0.01 $coin-size * 0.01 0 darken($coin, 8),
      -1 * ($coin-size * 0.01) -1 * ($coin-size * 0.01) 0 lighten($coin, 8);
  }

  &:before {
    transform: translateZ($coin-size/$coin-thicc/2);
    content: 'O';
  }
  &:after {
    transform: translateZ(-$coin-size/$coin-thicc/2) rotateY(180deg) rotateZ(180deg);
    content: 'I';
  }

  .edge {
    transform: translateX($coin-size/2-$coin-size/$coin-thicc/2);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    .segment {
      height: $coin-size;
      width: $coin-size/$coin-thicc;
      position: absolute;
      transform-style: preserve-3d;
      backface-visibility: hidden;

      &:before,
      &:after {
        content: '';
        display: block;
        height: $coin-size/10;
        width: $coin-size/$coin-thicc;
        position: absolute;
        transform: rotateX(84.375deg);
      }

      $e1: darken($coin, 5);
      $e2: darken($coin, 10);

      &:before {
        transform-origin: top center;
        background: repeating-linear-gradient($e1 0, $e1 25%, $e2 25%, $e2 50%);
      }
      &:after {
        bottom: 0;
        transform-origin: center bottom;
        background: repeating-linear-gradient($e2 0, $e2 25%, $e1 25%, $e1 50%);
      }

      @for $i from 1 through 16 {
        &:nth-child(#{$i}) {
          transform: rotateY(90deg) rotateX($i * 11.25deg);
        }
      }
    }
  }
}

.floor {
  position: absolute;
  width: $coin-size;
  height: $coin-size;

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$coin-size/$coin-thicc/8;
    width: $coin-size;
    height: $coin-size/$coin-thicc/4;
    transform-origin: center left;
    border-radius: $coin-size/$coin-thicc/4;
    background: linear-gradient(90deg, white 20%, transparent 20%);
    background-repeat: no-repeat;
    opacity: 0;

    &.anim {
      animation: lines $time * 0.6 ease-out forwards;
      animation-delay: 0.65s;
    }

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        @if $i % 2 == 0 {
          transform: rotate($i * 30deg);
        } @else {
          transform: rotate($i * 30deg) scale(1.1);
        }
      }
    }
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0) rotateX(0deg) scale(1);
  }
  10% {
    transform: rotateY(45deg) rotateX(calc(var(--flips) / 3)) scale(1.6);
  }
  60% {
    transform: rotateY(-30deg) rotateX(calc(var(--flips) / 1.5)) scale(2);
  }
  100% {
    transform: rotateY(0) rotateX(var(--flips)) scale(1);
  }
}

@keyframes lines {
  40% {
    opacity: 1;
    background-position: -$coin-size * 0.8 0;
  }
  70% {
    opacity: 1;
    background-position: $coin-size * 0.5 0;
  }
  100% {
    opacity: 1;
    background-position: $coin-size * 1 0;
  }
}
