<div>
  <h2 id="page-heading" data-cy="DrinkHeading">
    <span jhiTranslate="beverageDispenserApp.drink.home.title">Drinks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="beverageDispenserApp.drink.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-drink"
        [routerLink]="['/drink/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beverageDispenserApp.drink.home.createLabel"> Create a new Drink </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="drinks?.length === 0">
    <span jhiTranslate="beverageDispenserApp.drink.home.notFound">No drinks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="drinks && drinks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.drink.name">Name</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.drink.price">Price</span></th>
          <th scope="col"><span jhiTranslate="beverageDispenserApp.drink.ingredient">Ingredient</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drink of drinks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/drink', drink.id, 'view']">{{ drink.id }}</a>
          </td>
          <td>{{ drink.name }}</td>
          <td>{{ drink.price }}</td>
          <td>
            <span *ngFor="let ingredient of drink.ingredients; let last = last">
              <a class="form-control-static" [routerLink]="['/ingredient', ingredient.id, 'view']">{{ ingredient.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/drink', drink.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/drink', drink.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(drink)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
